<div class="container">
	<% provide(:title, "Авторизация") %>

	<% flash.each do |message_type, message| %>
	        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
	              <% end %>
	              

	<div class="row text-center">
		<div class="col-sn-12">
			<h1 class="text-center">Авторизация</h1>
		</div>
	</div>

<br>
<br>
	    <%= form_for(:session, url: login_path) do |f| %>
	    		<div class="row text-center">

				      <%= f.label "Пароль доступа" %>
				 </div>

				 	<div class="row text-center">

					      <%= f.password_field :password, class: 'form-control' %>

					</div>
					<br>
					<br>

					<div class="row text-center">

					      <%= f.submit "Авторизация", class: "btn btn-primary" %>
					</div>
	    <% end %>

</div>