<footer class="footer">
	<div class="container">
	    <div class="row">
		<div class="col-4">
		    <ul>
			<li>
			    <a href="">О нас</a>
			</li>
			<li>
			    <a href="">Начать пользоваться</a>
			</li>
			<li>
			    <a href="">Подписаться</a>
			</li>
		    </ul>
		    <div class="social">
			<a href="">
			    <img src="<%= asset_url("github-ico.png") %>" alt="">
			</a>
			<a href="">
			    <img src="<%= asset_url("fb-ico.png") %>" alt="">
			</a>
			<a href="">
			    <img src="<%= asset_url("mail-ico.png") %>" alt="">
			</a>
			<a href="">
			    <img src="<%= asset_url("skype-ico.png") %>" alt="">
			</a>
			<a href="">
			    <img src="<%= asset_url("twitter-ico.png") %>" alt="">
			</a>
		    </div>
		</div>
		<div class="col-4">
		    <div class="footer-title">
			<a href="">Как это работает</a>
		    </div>
		</div>
		<div class="col-4">
		    <div class="tel">
			<a href="">89116544552</a>
			<a href="">obmen@gmail.com</a>
		    </div>
		</div>
	    </div>
	</div>
    </footer>