<%= render 'welcome/header' %>
<div class="section section-blue">
		<div class="container">
			<div class="row">
				<div class="col-4 item">
					<img src="<%= asset_url("card01.png") %>" alt="Только проверенные данные из самых популярных бирж в режиме реального времени">
					<div class="item-title">
						Надежно
					</div>
					<p>
						Только провереные данные из самых популярных бирж в режиме реального времени
					</p>
				</div>
				<div class="col-4 item">
					<img src="<%= asset_url("card02.png") %>" alt="Получайте данные с любых устройств в любое время где бы вы ни находились">
					<div class="item-title">
						Удобно
					</div>
					<p>
						Получайте данные с любых устройств в любое время где бы вы ни находились
					</p>
				</div>
				<div class="col-4 item">
					<img src="<%= asset_url("card03.png") %>" alt="Сервис моментально загружает вам информацию о любой монете на данный момент">
					<div class="item-title">
						Быстро
					</div>
					<p>
						Сервис моментально загружает вам информацию о любой монете на данный момент
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section section-table">
		<div class="row table-heading">
			<div class="col"></div>
			<div class="col-2">Пара</div>
			<div class="col-2">Цена</div>
			<div class="col-2">Биржа</div>
			<div class="col-2">Проценты</div>
			<div class="col"></div>
		</div>


		<div class="row table-content-row">
			<div class="col table-col"></div>
			<div class="col-2 table-col"> BTC/<%= @current.currency %></div>
			<div class="col-2 table-col"> <%= @current.course %></div>
			<div class="col-2 table-col"> exmo</div>
			<div class="col-2 table-col"> 0,74 %</div>
			<div class="col table-col"></div>
		</div>
		
	</div>
<%= render 'welcome/footer' %>