<p id="notice"><%= notice %></p>

<h1>Курс к паре BTC</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Дата измерения</th>
      <th>Биржа</th>
      <th>Криптовалюта</th>
      <th>Значение</th>
      <th>Разница</th>
      <th>Ошибка</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.created_at %></td>
        <td><%= course.burse.name %></td>
        <td><%= course.cryptocurrency.name %></td>
        <td><%= course.value.round(6) if course.value != nil %></td>
        <td><%= course.diff.round(6) if course.diff != nil %></td>
        <td><%= course.error %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_course_path %>
