<p id="notice"><%= notice %></p>

<p>
  <strong>Burse:</strong>
  <%= @course.burse %>
</p>

<p>
  <strong>Cryptocurrency:</strong>
  <%= @course.cryptocurrency %>
</p>

<p>
  <strong>Value:</strong>
  <%= @course.value %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @course.diff %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
